.banner-card {
    padding: 0;
    margin-bottom: 15px;
}
.game-card-banner img{
   margin: 0;
}
.full-width {
    width: 100%;
}
.form-signin {
    background-color: beige;
}

.banner-title {
    display: block;
    font-size: 18px;
    font-weight: 500;
    padding-bottom: 10px;

}

.form-group {
    padding-top: 10px;
    padding-bottom: 10px;
}
.subscribe-btn, .subscribe-cnf, .banner-title {
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

.subscribe-price {
    font-size: 16px;
    font-weight: 500;
}

.subscribe-height {
    min-height: 400px;
}

.subscribe-title {
    font-size: 14px;
    font-weight: 500;
}

.subscribe-description {
    padding-top: 20px;
    font-size: 14px;
    padding-left: 10px;
    padding-right: 10px;
}

.form-control-feedback {
    color: red;
    padding: 5px 5px;
}

.status-error {
    color:red;
}

.status-message {
    color: green;
}