<html><head>
    <title>
        Fundoo Faq
    </title></head>

<body cz-shortcut-listen="true">

<div>
    <font style="color:black">
        <h5>Faq's</h5>

        What is Fundoo Games?<br>

        Fundoo Games is weekly subscription type service. Subscriber can play HTML games on their mobile devices without any limits for Â£4.50 per week. Service provides engaging content from various genres.<br>

        How many SMS do I get per day?<br>

        You get a maximum of 1 SMS per day with a service reminder about the new content. Periodically you will also get SMS informing you about the Activation of the service, Renewal charging and Deactivation of the service.<br>

        How I can use the content?<br>

        First of all you should register and become service subscriber. After successful subscription and service fee deduction from your mobile phone account you will receive welcome SMS message and will be able to start playing games on your mobile through the link provided in the SMS!<br>

        How much content I can use in a day?<br>

        Service subscribers can use as much as they want and can play as many games as they like. There is no limit. So Register and Start playing!<br>

        How much this will cost for me?<br>

        Service price is Â£4.50 per week. Additionally you will pay for mobile data usage. You'll be charged as per your Data plan rates from your Mobile Operator.<br>

        How do I unsubscribe?<br>

        You can unsubscribe by sending STOP to 60138. The opt-out message is free of charge.<br>

        To read our Privacy Policy <a style="color:blue;" target="_blank" href="/info/privacy">Click Here</a><br>
        To read our Terms &amp; Conditions <a style="color:blue;" target="_blank" href="/info/tnc">Click Here</a><br>
    </font></div><font style="color:black">
</font>

</body></html>