<html>
<head>
    <title>
        Soccer Mania Faq
    </title></head>

<body cz-shortcut-listen="true">

<div>
    <font style="color:black">
        <h5>Faq's</h5>

        What is soccer mania?<br>
        soccer mania is a Monthly/Weekly/Daily subscription type service. Subscriber can play their favorite soccer
        mania channels on their mobile devices without any limits for 2000 fils per month/600 fils per week/100 fils per
        day. Service provides engaging content from various Countries.<br>

        How many SMS do I get per day?<br>
        You get a maximum of 1 SMS per day with a service reminder. Periodically you will also get SMS informing you
        about the Activation of the service, Renewal charging and Deactivation of the service.<br>

        How can I use the content?<br>
        First of all you should register and become a service subscriber. After successful subscription and service fee
        deduction from your mobile phone account, you will receive a welcome SMS message and will be able to start
        playing content on your mobile through the link provided in the SMS!<br>

        How much content can I browse in a day?<br>
        Service subscribers can browse as much as they want. There is no limit. So Register and Start listening!<br>

        How much will this cost for me?<br>
        Service price is 2000 fils per month/600 fils per week/100 fils per day. Additionally you will pay for mobile
        data usage. You'll be charged as per your Data plan rates from your Mobile Operator.<br>

        How do I unsubscribe?<br>
        You can unsubscribe by sending E728 to 91113. The opt out message is free of charge.<br>
    </font></div>
<font style="color:black">
</font>

</body>
</html>