<mat-toolbar class="game-header sticky-top">
    <button mat-icon-button class="sidenav-toggle mat-button mat-button-base" (click)="onClick()">
        <span class="mat-button-wrapper">
            <mat-icon class="mat-icon notranslate material-icons" aria-hidden="true" data-mat-icon-type="font">menu
            </mat-icon>
        </span>
        <span matripple class="mat-ripple mat-button-ripple">

        </span>
        <span class="mat-button-focus-overlay">

        </span>
    </button>
    <div class="logo-hamburger-container" (click) = 'onHomeClick()'>
            <img src='./../../../assets/img/logo.PNG' class="logo">
    </div>
</mat-toolbar>
