<style>
    .page-not-found {
        font-family: 'Roboto', sans-serif;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 400px;
    }

    .page-not-found h4 {
        width: 500px;
        background-color: #f0f0f0;
        padding: 30px 0 ;
        border: 1px solid black;
        border-radius: 5px;
        text-align: center;
    }
</style>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Page Not Found</title>
</head>
<body>
    <div class="page-not-found">
        <h4>
            Sorry, this page doesn't exist in our server.<br/>
        </h4>
    </div>
</body>
</html>
