<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{base}">
<title layout:fragment="title">Confirm</title>
<div layout:fragment="content" id="app" class="off-canvas-content"  ng-controller="subscribeCtrl">
    <div th:replace="widgets/fragments :: sideNav">...</div>
    <div style="text-align: center">
        <img src="/images/banner.png" style="width: 100%" alt="banner" />
        <br/><br/>
        <a ng-click="confirmSubscription()" >
            <img src="/images/confirm.png"  alt="Confirm" style="width: 70%" />
        </a>
    </div>
    <br/>
    <div><font style="color:black;font-family:Verdana;font-size:12px;">200 Bz/day</font><br/>
        <div style="color:black;font-family:Verdana;font-size:12px;">(This is an auto renewal service.)</div>
    </div>
    <br/><br/>
    <div style="color:crimson;font-family:Verdana;font-size:14px;">Watch Videos on your mobile.</div>
    <br/>
    <div style="color:black;font-family:Verdana;font-size:12px;">You will subscribe to the Femvideos premium content service. Enjoy host of Cooking, Makeup, Health & more videos with
        Femvideos Premium. The subscription will be auto renewed at 200 Bz/day after free trial is over and it will be active until you send
        to UNSUB 6 to 92022. You must be more than 18 years or have the permission from the person who pays your bill to use this service.
    </div>
</div>

<div layout:fragment="scripts"></div>

</html>