<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{base}">
<title layout:fragment="title">Home</title>
<div layout:fragment="content" id="app" class="off-canvas-content"  ng-controller="homeCtrl">
    <div th:replace="widgets/fragments :: sideNav">...</div>
    <div>
        <data-owl-carousel class="owl-carousel"
                           data-options="{lazyLoad: false, loop:true, dots: true, smartSpeed: 0, nav: false, responsive:{0:{items:1}}}">
            <div owl-carousel-item="" ng-repeat="item in bannerImages track by $index" class="">
                <div ng-cloak class="carousal-data">
                    <div class="carousal-img">
                        <img ng-src="/images/{{item}}">
                    </div>
                </div>
            </div>
        </data-owl-carousel>
    </div>
    <div class="carousel-set" >
        <div ng-cloak ng-repeat="(category, videoGroups) in videosByCategory">
            <div class="category-heading">
                <div class="vertical-strip">&nbsp</div><h3 class="carousel-header"> {{category}}</h3>
                <a class="view-more" ng-href="/category/{{category}}">More<img src="/images/Icon-9.png"></a>
            </div>
            <div>
                <div ng-cloak ng-repeat="item in videoGroups" class="item">
                    <a ng-href="/play?cat={{category}}&view={{item.id}}">
                        <img ng-src="https://mooddit.s3.ap-south-1.amazonaws.com/icons/{{item.imageUrl}}">
                        <p class="caption">{{item.displayName}}</p>
                    </a>

                </div>
            </div>
        </div>

    </div>
</div>

<div layout:fragment="scripts">
</div>

</html>