<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{base}">
<title layout:fragment="title">Home</title>
<div layout:fragment="content" id="app" class="off-canvas-content"  ng-controller="homeCtrl">
    <div th:replace="widgets/fragments :: sideNav">...</div>
    <div>
        <data-owl-carousel class="owl-carousel" data-options="{dots: true,smartSpeed: 2000, nav: false, responsive:{0:{items:1}}}">
            <div ng-click="playVideo(item)" owl-carousel-item="" ng-repeat="item in bannerImages track by $index" class="item">
                <div ng-cloak class="carousal-data">
                    <div class="carousal-img">
                        <img ng-src="/images/{{item}}">
                    </div>
                </div>
                <p class="caption">{{item.displayName}}</p>
            </div>
        </data-owl-carousel>
    </div>
    <div class="carousel-set" >
        <div ng-cloak ng-repeat="(category, videoGroups) in videosByCategory">
            <h3 class="carousel-header"> {{category}}</h3>
            <data-owl-carousel class="owl-carousel" data-options="{}">
                <div ng-click="playVideo(item)" owl-carousel-item="" ng-repeat="item in videoGroups track by $index" class="item">
                    <div ng-cloak class="carousal-data">
                        <div class="carousal-img">
                            <video width="100%">
                                <source ng-src="/videos/{{item.videoUrl}}#t=3" type="video/mp4">
                            </video>
                        </div>
                    </div>
                    <p class="caption">{{item.displayName}}</p>
                </div>
            </data-owl-carousel>
            <hr class="carousal-hr">
        </div>

    </div>

    <div class="modal fade col-xs-12 col-md-6 col-md-offset-3 col-sm-offset-0" id="playModel" role="dialog" tabindex='-1'>
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content transparent-model">
                <div class="modal-header">
                    <button type="button" class="playClose close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">{{currentSelected.displayName}}</h4>
                </div>
                <div class="modal-body">
                    <div class="video col-md-12 no-padding">
                        <video width="100%" controls controlsList="nodownload">
                            <!--<source ng-src="{{/videos/movie.mp4}}" type="video/mp4">-->
                        </video>
                    </div>
                </div>
                <div class="modal-footer">
                    <!--<h2>{{currentSelected.displayName}}</h2>-->
                    <div>
                        <h2 class="no-padding"> Recommended Videos</h2>
                        <data-owl-carousel class="owl-carousel" data-options="{}">
                            <div ng-click="playVideo(item)" owl-carousel-item="" ng-repeat="item in recommendedVideos track by $index" class="item">
                                <div ng-cloak class="carousal-data">
                                    <div class="carousal-img">
                                        <video width="100%">
                                            <source ng-src="/videos/{{item.videoUrl}}#t=3" type="video/mp4">
                                        </video>
                                    </div>
                                </div>
                                <p class="caption">{{item.displayName}}</p>
                            </div>
                        </data-owl-carousel>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>

<div layout:fragment="scripts">
    <!--<script>
        $("#carousel").owlCarousel({
  autoplay: true,
  lazyLoad: true,
  loop: true,
  margin: 20,
   /*
  animateOut: 'fadeOut',
  animateIn: 'fadeIn',
  */
  responsiveClass: true,
  autoHeight: true,
  autoplayTimeout: 7000,
  smartSpeed: 800,
  nav: true,
  responsive: {
    0: {
      items: 1
    },

    600: {
      items: 3
    },

    1024: {
      items: 4
    },

    1366: {
      items: 4
    }
  }
});
    </script>-->
</div>

</html>