<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{base}">
<title layout:fragment="title">Subscribe</title>
<div layout:fragment="content" id="app" class="off-canvas-content"  ng-controller="authCtrl">
    <div style="position: relative">
        <div ng-cloak>
            <img style="width:100%" ng-src="/images/banner-2.png">
        </div>
    </div>
    <div ng-show="showLoader" class="loading">Loading&#8230;</div>
    <div style="text-align: center;margin-top: 10px;">
        <h3>Please enter mobile number to subscribe</h3>
        <div style="margin: 10px">
            <input required ng-disabled="otpReceived" type="text" placeholder="Mobile Number" ng-model="msisdn">
            <input ng-show="otpReceived" type="text" placeholder="OTP" ng-model="otpText">
        </div>
        <div style="margin: 10px">
            <button class="btn btn-success" ng-click="generateOTP(true)" ng-if="!otpReceived">SUBSCRIBE</button>
            <button class="btn" ng-click="regenerateOTP(true)" ng-if="otpReceived">RESEND OTP</button>
            <button class="btn btn-success" ng-click="verifyOTP(true)" ng-if="otpReceived">VERIFY OTP</button>
        </div>
    </div>
    <div>
        <div><font style="color:black;font-family:Verdana;font-size:12px;">600 AED/week</font><br/>
            <div style="color:black;font-family:Verdana;font-size:12px;">(This is an auto renewal service.)</div>
        </div>
        <br/><br/>
        <div style="color:crimson;font-family:Verdana;font-size:14px;">Watch Videos on your mobile.</div>
        <br/>
        <div style="color:black;font-family:Verdana;font-size:12px;">You will subscribe to the soccer mania premium content service. Enjoy host of exclusive soccer videos with
            Soccer Mania Premium. The subscription will be auto renewed at 600 AED/week. You must be more than 18 years or have the permission from the person who pays your bill to use this service.
        </div>
    </div>


</div>

<div layout:fragment="scripts"></div>

</html>