<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{base}">
<title layout:fragment="title">Subscribe</title>
<div layout:fragment="content" id="app" class="off-canvas-content"  ng-controller="subscribeCtrl">
    <div style="text-align: center">
        <img src="/images/banner.png" style="width: 100%" alt="banner" />
        <br/><br/>
        <a href="/confirmation" >
            <img src="/images/subscribe_btn.png"  alt="Subscribe" style="width: 70%" />
        </a>
    </div>
    <br/>
    <center><font style="color:black;font-family:Verdana;font-size:12px;">1.250 OMR/week (or proportionally as per your balance)</font><br/>
        <font style="color:black;font-family:Verdana;font-size:12px;">(This is an auto renewal service.)</font>
    </center>
    <br/><br/>
    <font style="color:crimson;font-family:Verdana;font-size:14px;">Watch Videos on your mobile.</font>
    <br/>
    <font style="color:black;font-family:Verdana;font-size:12px;">Welcome to Sheeez!. Subscribers of this service enjoy videos for Cooking, Makeup, Health & more.
    </font>
    <ul>
        <li><font style="color:black;font-family:Verdana;font-size:12px;">To unsubscribe anytime send unsub 5 or STOP to 92022</font>
        </li>
    </ul>

</div>

<div class="mainDiv">



</div>

</body>
</html>