<mat-card>
    <mat-card-title>
        Terms & Conditions
    </mat-card-title>
    <mat-card-content>
        <p> soccer mania is a subscription service. Charges will be made to your mobile bill or deducted from your prepaid
          account. Network fees or data charges may apply.
            Contact us:contact@vkandigital.com. By Clicking Subscribe you agree to be subscribed for 2000 fils per
            month/600 fils per week/100 fils per day and that you are the owner of the device and are at least 16 years
            old or have the bill payers’ permission and agree to the terms and conditions. You will get unlimited access
            to the content available in the portal. To opt out of the service send E728 to 91113. This service is
            brought to you by VKAN digital solutions.
            Customer may enter the service via the below available modes:
            This website
            By sending SMS
            Once you accept a  soccer mania subscription you will receive an SMS with a link for you to access the
            content.
            Follow the instructions to view the content of your choice.
            Unsubscribe / Cancelling the Service:
            To unsubscribe / Cancel the service send E728 to 91113. This message is case sensitive. You will receive a
            response confirming the cancellation of the service.</p>
    </mat-card-content>
</mat-card>
<mat-card class="policy-tile">
    <mat-card-content>
        <p>1. you basically have the right to revoke the contract concluded with us for distance sales for the soccer mania
            service within 14 (fourteen) days without giving any reason, from the day the contract was concluded.
            The exercise of the right of withdrawal means that you have nothing to pay or that a payment has to be
            reimbursed to you. You can find the sample withdrawal form here:
        </p>
        <p>
            2. The right of withdrawal expires after & sect; 356 Para. 5 BGB, if you have agreed that we start executing
            the contract before the expiry of the cancellation period, you are aware that you will lose your right of
            cancellation by your consent when the contract is executed and we will then lose with the Start execution of
            the contract.
        </p>
        <p>
            3.1. The Liability of the promoter and its managing company shall be limited to the amount of the
            subscription charges actually paid.
        </p>
        <p>
            3.2. We shall not be liable for any loss or damage that we could not have reasonably been expected to
            foresee at the start of the agreement, or for any loss of or corruption to data, systems, equipment.
        </p>
        <p>
            3.3. Nothing in these terms and conditions shall exclude or limit our liability for death or personal injury
            caused by our negligence.
            By giving us your mobile number and / or email address, you agree for  soccer mania and its managing company
            to send you either an occasional email or text, notifying you of the latest offers and promotions available
            from our group. If you ever wish to be removed from any of our email/text broadcasts, you will have a link
            provided on each email saying UNSUBSCRIBE Alternatively you can call our helpline number. Once you do this,
            you will be removed from future broadcasts within 14 days of your request.
        </p>
        <p>
          soccer mania reserves the right to assign the agreement to and acceptance of these Terms and Conditions, in
            whole or in part, at any time without notice. The user may not assign any of his/her rights or obligations
            arising from their agreement to and acceptance of these Terms and Conditions.
        </p>
        <p>
            Contact  soccer mania
            Contact Email: contact@vkandigital.com
            Changes to these Terms and Conditions We aim to meet high standards and our policies and procedures are
            therefore constantly under review. From time to time we may update our Terms and Conditions and Privacy
            policies to optimize the user experience and to comply with legal and regulatory obligations. Accordingly,
            we recommend that you check these pages periodically in order to review our current policies.
            Trademarks, service marks, logos (including without limitation, the individual names of products and
            retailers) are the property of their owners. Brands/Logos/Images used have not been done with the
            participation in, or in any way reviewed by the owners of this advertisement nor have they authorized it.
        </p>

    </mat-card-content>
</mat-card>
