<mat-card>
    <mat-card-title>
        FAQ's
    </mat-card-title>
</mat-card>
<mat-card class="policy-tile">
    <mat-card-content>
        <p class="question-title">What is soccer mania?
        </p>
        <p>
          soccer mania is a Monthly/Weekly/Daily subscription type service. Subscriber can play their favorite soccer
          mania channels on their mobile devices without any limits for 2000 fils per month/600 fils per week/100 fils per
          day. Service provides engaging content from various Countries.
        </p>
        <p class="question-title">
          How many SMS do I get per day?
        </p>
        <p>
          You get a maximum of 1 SMS per day with a service reminder. Periodically you will also get SMS informing you
          about the Activation of the service, Renewal charging and Deactivation of the service.
        </p>
        <p class="question-title">
          How can I use the content?
        </p>
        <p>
          First of all you should register and become a service subscriber. After successful subscription and service fee
          deduction from your mobile phone account, you will receive a welcome SMS message and will be able to start
          playing content on your mobile through the link provided in the SMS!
        </p>
        <p class="question-title">
            How much content can I browse in a day?
        </p>
        <p>
            Service subscribers can browse as much as they want. There is no limit. So Register and Start listening!
        </p>
        <p class="question-title">
            How much will this cost for me?
        </p>
        <p>
            Service price is 2000 fils per month/600 fils per week/100 fils per day. Additionally you will pay for
            mobile data usage. You'll be charged as per your Data plan rates from your Mobile Operator.
        </p>
        <p class="question-title">
            How do I unsubscribe?
        </p>
        <p>
            You can unsubscribe by sending E728 to 91113. The opt out message is free of charge.
        </p>
    </mat-card-content>
</mat-card>
