<div th:fragment="sideNav">
    <div ng-style="{width: navWidth}" class="sidenav" >
        <a href="javascript:void(0)" class="closebtn" ng-click="navWidth = 0">&times;</a>
        <a href="info/privacy" style="color:#FF9F33;">Privacy Policy</a>
        <a href="info/tnc" style="color:#FF9F33;">Terms & Conditions</a>
        <a href="info/faq" style="color:#FF9F33;">FAQ</a>
        <a href="info/packs" style="color:#FF9F33;">My Packs</a>
    </div>
    <div align="right"  style="margin-top:-40px;">
        <span style="font-size:30px;cursor:pointer;color:rgb(255, 123, 26);" ng-click="navWidth = 'inherit'">&#9776;</span>
    </div>
</div>
